<!-- Hero Section -->
<section class="hero-section container d-flex " style="height: 85vh;">
    <div class="hero-text">
        <h1>Welcome to Hospital Management</h1>
        <p>Explore our services and learn more about how we can help you grow your business. We provide top-notch
            solutions tailored to your needs.</p>
        <input type="text" class="
            form-control" placeholder="Search for a best doctor">
    </div>
    <div class="hero-image">
        <img src="https://via.placeholder.com/500" alt="Hero Image">
    </div>
</section>