<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--Icons here-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        #sidebar {
            height: 100vh;
            width: 250px;
            background: #ffffff;
            border-right: 1px solid #ddd;
            position: fixed;
        }

        #sidebar a {
            text-decoration: none;
            color: #333;
        }

        #sidebar a:hover {
            background-color: #f8f9fa;
            color: #007bff;
            transition: all 0.3s ease
        }

        #sidebar .logo {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            font-weight: bold;
            border-bottom: 1px solid #ddd;
        }

        #sidebar .nav-item {
            padding: 10px 20px;
        }

        #sidebar .nav-item i {
            margin-right: 10px;

        }

        #sidebar .nav-item.active {
            background-color: #e9ecef;
            font-weight: bold;
            color: #007bff
        }

        .content {
            margin-left: 250px;
            padding: 20px;
        }

        #header {
            position: fixed;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
            background-color: #ffffff;
            border-bottom: 1px solid #ddd;
            z-index: 1050;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .dropdown-menu {
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            right: 0;
            left: auto;
        }

        .toggle-btn {
            display: none;
        }

        @media (max-width: 768px) {
            #sidebar {
                position: fixed;
                width: 200px;
                transform: translateX(-200px);
                transition: transform 0.3s ease;
            }

            #sidebar.show {
                transform: translateX(0);
            }

            .content {
                margin-left: 0;
            }

            .toggle-btn {
                display: block;
                cursor: pointer;
            }
        }
    </style>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
</head>

<body>
    <!--Sidebar here-->
    <div id="sidebar">
        <div class="nav flex-column mt-5 p-1">
            <div class="logo mt-4">
                <a class="navbar-brand" href="/">
                    <img src="https://media-hosting.imagekit.io//dc37da5f69744943/Hospital%20Logo.png?Expires=1837428271&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=zTaK1aHFPzzWL8JopnbA2C2to62-woGYTCyn5ITLHmUG37G2sCI68lDWBZE2LCG86UcfYQBGk9ttUbo1ow5BGIYpeMEruMDNYG60Wsz~MpkErzHiIXKCUhdDb~NGE4IEGgaqW8fRAZ2VD9TLpRURG0VX26SU15UcDJhtdwx1b1uFotl9Rz~qV-DRQphwC9jx1MqMBxd7Y9KQza4DZZrsRUbsmc~tPZSPGJ85uIAiv7toUoKsRwwoB0SMIVC-WIoSLgMo0-mFzoxQQjEXHOehuM1THvyLl2iv19bFdAVKwlSFrlt-e3c4vkFZ57U5k1JWZiW9LOYtiOwDuDtdt3azUg__"
                        alt="Brand Logo" style="height: 50px;">
                </a>
            </div>
            <a href="/admin/dashboard" class="nav-item p-3" aria-label="Home"><i class="bi bi-house"></i>Dashboard</a>
            <!-- <a href="/admin/create-hospital" class="nav-item p-3" aria-label="Home"><i class="bi bi-house"></i>Create Hospitals</a> -->
            <!-- <a href="/admin/hospitals" class="nav-item p-3" aria-label="Home"><i class="bi bi-house"></i>Hospitals</a> -->
            <a href="/admin/create-doctor" class="nav-item p-3" aria-label="Home"><i class="bi bi-house"></i>Add
                Doctors</a>
            <a href="/admin/doctors" class="nav-item p-3" aria-label="Home"><i class="bi bi-house"></i>Doctors</a>
            <a href="/admin/users" class="nav-item p-3" aria-label="Home"><i class="bi bi-house"></i>Users</a>
            <a href="/admin/appointments" class="nav-item p-3" aria-label="Home"><i
                    class="bi bi-house"></i>Appointments</a>

            <a href="/admin/create-blog" class="nav-item p-3" aria-label="Home"><i class="bi bi-house"></i>Create
                Blog</a>
            <a href="/admin/blogs" class="nav-item p-3" aria-label="Home"><i class="bi bi-house"></i>Blogs</a>

            <a href="/admin/settings" class="nav-item p-3"><i class="bi bi-gear"></i>Settings</a>
        </div>
    </div>

    <!--Header here-->
    <div id="header">
        <div class="d-flex align-items-center">
            <div class="toggle-btn d-md-none">
                <i class="bi bi-list" style="font-size: 1.5rem;"></i>
            </div>
            <h4 class="ms-3 mb-0">Dashboard</h4>
        </div>
        <div class="dropdown">
            <a class="d-flex align-items-center text-decoration-none text-dark dropdown-toggle" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle me-2" style="font: size 1.5rem;"></i>
                <span>Profile</span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>

            </ul>
        </div>
    </div>

    <!--Content here-->
    <div class="content p-5 mt-3">
        <%- body %>
    </div>

    <footer class="text-center py-3 mt-5">
        <p>&copy; 2025 Hamro Swasthya Sathi. All Rights Reserved.</p>
    </footer>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.querySelector('.toggle-btn').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('show');
        });

    </script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</body>


</html>